html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
  font-family: Rubik;
  background: #C10A0A ;
  background: linear-gradient(to right, #C10A0A , #C47070);
}

.container {
  margin-top: 17%;
  margin-left: 13%;
}

.btn-login {
  margin-left: 38%;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

@media only screen and (max-width: 991px) {
  .container {
    margin-top: 25%;
    margin-left: 0%;
  }

  .btn-login {
    margin-left: 40%;
  }
}